<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CommentMapper">
    <resultMap id="commentMap" type="com.example.demo.domain.Comment">
        <id property="id" column="id"></id>
        <result property="articleId" column="article_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="articleId" column="article_id"></result>
        <result property="time" column="time"></result>
    </resultMap>


<!--    //  增-->
<!--    void addComment(Comment comment); insert into comment(xxx,xxx) values(xxx,xxx)-->
    <insert id="addComment" parameterType="com.example.demo.domain.Comment">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId!=null">
                article_id,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
            <if test="content!=null">
                content,
            </if>
            <if test="time!=null">
                time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="articleId!=null">
                #{articleId},
            </if>
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="content!=null">
                #{content},
            </if>
            <if test="time!=null">
                #{time},
            </if>
        </trim>
    </insert>

<!--    //  删-->
<!--    void delComment(Integer id);-->
    <delete id="delComment" parameterType="java.lang.Integer">
        delete from comment where id = #{id}
    </delete>

<!--    //  查-->
<!--    Comment findeCommentById(Integer id);-->
    <select id="findeCommentById" parameterType="java.lang.Integer" resultType="com.example.demo.domain.Comment">
        select * from comment where id = #{id}
    </select>

<!--    // 查询评论 List<Comment> findCommentByArticleId(Integer ArticleId);-->
    <select id="findCommentByArticleId" parameterType="java.lang.Integer" resultType="com.example.demo.domain.Comment">
        select * from comment where article_id = #{articleId}
    </select>

<!--    //  改-->
<!--    void saveComment(Comment comment); update comment set xx=xx,xx=xx where id = xx-->
    <update id="saveComment" parameterType="com.example.demo.domain.Comment">
        update comment
        <trim prefix="set" suffixOverrides=",">
            <if test="articleId!=null">
                article_id = #{articleId},
            </if>
            <if test="userId!=null">
                user_id = #{userId},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
            <if test="time!=null">
                time = #{time},
            </if>
        </trim>
        where id = #{id}
    </update>



</mapper>