<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="user" type="com.example.demo.domain.User">
        <id  property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="info" column="info"></result>
    </resultMap>

<!--    User selectUserbyId(Integer id);-->
    <select id="selectUserbyId" resultType="user" parameterType="java.lang.Integer" >
        select * from user where id = #{id}
    </select>


<!--    void addUser(User user); -->
    <insert id="addUser" parameterType="com.example.demo.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username!=null">
                username,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="salt!=null">
                salt,
            </if>
            <if test="info!=null">
                info,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="username!=null">
                #{username},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="salt!=null">
                #{salt},
            </if>
            <if test="info!=null">
                #{info},
            </if>
        </trim>

    </insert>

<!--    void delUser(Integer id);-->
    <delete id="delUser" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>

<!--    User findUserbyId(Integer id);-->
    <select id="findUserbyId" resultType="com.example.demo.domain.User" parameterType="java.lang.Integer">
        select * from user where id = #{id}
    </select>

<!--    User findUserbyUsername(String username);-->
    <select id="findUserbyUsername" resultType="com.example.demo.domain.User" parameterType="java.lang.String">
        select * from user where username = #{username}
    </select>

<!--    void saveUser(User user);-->
    <update id="saveUser" parameterType="com.example.demo.domain.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="salt!=null">
                salt = #{salt},
            </if>
            <if test="info!=null">
                info = #{info},
            </if>
        </trim>
        where id = #{id}

    </update>
</mapper>


